<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Sudeste</key>
    <array>
        <dict>
            <key>nome</key>
            <string>São Paulo</string>
            <key>latitude</key>
            <real>-23.5505</real>
            <key>longitude</key>
            <real>-46.6333</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Rio de Janeiro</string>
            <key>latitude</key>
            <real>-22.9068</real>
            <key>longitude</key>
            <real>-43.1729</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Belo Horizonte</string>
            <key>latitude</key>
            <real>-19.9167</real>
            <key>longitude</key>
            <real>-43.9345</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Vitória</string>
            <key>latitude</key>
            <real>-20.3155</real>
            <key>longitude</key>
            <real>-40.3128</real>
        </dict>
    </array>
    <key>Centro-Oeste</key>
    <array>
        <dict>
            <key>nome</key>
            <string>Campo Grande</string>
            <key>latitude</key>
            <real>-20.4697</real>
            <key>longitude</key>
            <real>-54.6201</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Cuiabá</string>
            <key>latitude</key>
            <real>-15.5989</real>
            <key>longitude</key>
            <real>-56.0949</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Goiânia</string>
            <key>latitude</key>
            <real>-16.6869</real>
            <key>longitude</key>
            <real>-49.2648</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Brasília</string>
            <key>latitude</key>
            <real>-15.7801</real>
            <key>longitude</key>
            <real>-47.9292</real>
        </dict>
    </array>
    <key>Sul</key>
    <array>
        <dict>
            <key>nome</key>
            <string>Curitiba</string>
            <key>latitude</key>
            <real>-25.4284</real>
            <key>longitude</key>
            <real>-49.2733</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Florianópolis</string>
            <key>latitude</key>
            <real>-27.5954</real>
            <key>longitude</key>
            <real>-48.5480</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Porto Alegre</string>
            <key>latitude</key>
            <real>-30.0346</real>
            <key>longitude</key>
            <real>-51.2177</real>
        </dict>
    </array>
    <key>Nordeste</key>
    <array>
        <dict>
            <key>nome</key>
            <string>Salvador</string>
            <key>latitude</key>
            <real>-12.9714</real>
            <key>longitude</key>
            <real>-38.5014</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Fortaleza</string>
            <key>latitude</key>
            <real>-3.7172</real>
            <key>longitude</key>
            <real>-38.5433</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Recife</string>
            <key>latitude</key>
            <real>-8.0539</real>
            <key>longitude</key>
            <real>-34.8811</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Maceió</string>
            <key>latitude</key>
            <real>-9.6658</real>
            <key>longitude</key>
            <real>-35.7350</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>São Luís</string>
            <key>latitude</key>
            <real>-2.5297</real>
            <key>longitude</key>
            <real>-44.3028</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Natal</string>
            <key>latitude</key>
            <real>-5.7945</real>
            <key>longitude</key>
            <real>-35.2110</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Aracaju</string>
            <key>latitude</key>
            <real>-10.9472</real>
            <key>longitude</key>
            <real>-37.0731</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>João Pessoa</string>
            <key>latitude</key>
            <real>-7.1195</real>
            <key>longitude</key>
            <real>-34.8450</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Teresina</string>
            <key>latitude</key>
            <real>-5.0892</real>
            <key>longitude</key>
            <real>-42.8019</real>
        </dict>
    </array>
    <key>Norte</key>
    <array>
        <dict>
            <key>nome</key>
            <string>Manaus</string>
            <key>latitude</key>
            <real>-3.1019</real>
            <key>longitude</key>
            <real>-60.0250</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Belém</string>
            <key>latitude</key>
            <real>-1.4558</real>
            <key>longitude</key>
            <real>-48.5044</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Porto Velho</string>
            <key>latitude</key>
            <real>-8.7612</real>
            <key>longitude</key>
            <real>-63.9004</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Palmas</string>
            <key>latitude</key>
            <real>-10.2491</real>
            <key>longitude</key>
            <real>-48.3243</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Macapá</string>
            <key>latitude</key>
            <real>0.0349</real>
            <key>longitude</key>
            <real>-51.0694</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Boa Vista</string>
            <key>latitude</key>
            <real>2.8235</real>
            <key>longitude</key>
            <real>-60.6758</real>
        </dict>
        <dict>
            <key>nome</key>
            <string>Rio Branco</string>
            <key>latitude</key>
            <real>-9.9754</real>
            <key>longitude</key>
            <real>-67.8249</real>
        </dict>
    </array>
</dict>
</plist>
